.navbar-mobile__icon_type_profile {
  margin-right: 1px;
  -webkit-mask-image: url('../../../../img/icons/icon-mobile-profile.svg');
  mask-image: url('../../../../img/icons/icon-mobile-profile.svg');
}
